:root {
  --device-height: 100%;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
  font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 106px;

  @media (max-width: 1024px) {
    padding-top: 76px;
  }

  @media (max-width: 768px) {
    padding-top: 58px;
  }
}

a,
a:link,
a:visited {
  @include font-params(500, 18px, 27px);
  text-decoration: none;
  color: #000;

  @media (max-width: 1024px) {
    @include font-params(500, 16px, 20px);
  }
}

a[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

a:hover,
a.active {
  text-decoration: none;
  color: #76d275;

  svg {
    fill: #76d275;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

label {
  cursor: pointer;
}

body {
  &.scroll-disable {
    overflow: hidden;

    @media (min-width: 1025px) {
      padding-right: 21px;

      .header,
      .header__dropdown {
        width: calc(100% + 21px);
        padding-right: 21px !important;
      }
    }

    &::after {
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  }
}

.btn-gray {
  display: block;
  @include font-params(700, 16px, 1);
  width: 100vw;
  max-width: 150px;
  padding: 17px 0;
  color: rgba($color: #7a7a95, $alpha: 0.9);
  background: #fff;
  border-radius: 16px;
  box-shadow: -6px -6px 30px #ffffff, 6px 6px 20px rgba(192, 192, 219, 0.7);
}

.btn-gray:active,
.btn-gray.active {
  color: #76d275;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.7),
    2px 2px 6px rgba(192, 192, 219, 0.3), inset -2px -2px 2px #ffffff,
    inset 2px 2px 2px rgba(192, 192, 219, 0.7);
}

form {
  button {
    img {
      @keyframes rotate {
        to {
          rotate: 360deg;
        }
      }

      animation: rotate 1s ease-in-out infinite;
    }
  }
}

.btn-green,
a.btn-green {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-params(700, 16px, 1.5);
  background: linear-gradient(271.12deg, #6fbe6e 0%, #8beb8a 100%);
  box-shadow: -6px -6px 16px rgba(255, 255, 255, 0.7),
    6px 6px 20px rgba(192, 192, 219, 0.7);
  color: #fff;
  border-radius: 50px;
  width: 100vw;
  max-width: 263px;
  padding: 14px 0;
  height: 46px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }

  &:hover {
    color: #fff;
  }

  &:active {
    background: #71c470;
    box-shadow: inset -2px -2px 2px rgba(255, 255, 255, 0.2),
      inset 2px 2px 4px #62a661;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.btn-green-outline,
a.btn-green-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font-params(700, 16px, 1.5);
  color: #76d275;
  background: #fff;
  border-radius: 50px;
  height: 46px;
  width: 100%;
  max-width: 263px;

  @media (max-width: 768px) {
    margin: 0 auto;
  }

  &:active,
  &.active {
    box-shadow: inset -2px -2px 2px #ffffff,
      inset 2px 2px 2px rgba(14, 14, 15, 0.7);
  }

  &:hover {
    svg {
      fill: none;
    }
  }
}

.tabs {
  @include font-params(700, 14px, 1.5);
}

.app-links {
  @include flex-params(row, flex-start, center);
  gap: 20px;
  flex-wrap: wrap;

  a {
    @include flex-params(row, center, center);
    gap: 15px;
    background: #000;
    border-radius: 6px;
    color: #fff;
    padding: 8px 0;
    width: 198px;

    p {
      @include font-params(500, 12px, 15px);

      &:last-child {
        @include font-params(600, 20px, 24px);
        margin-top: 2px;
      }
    }

    @media (max-width: 768px) {
      max-width: calc(50% - 10px);
      width: 100%;
      gap: 19px;

      p {
        @include font-params(500, 10px, 12px);

        &:last-child {
          @include font-params(600, 16px, 20px);
          margin-top: 0;
        }
      }
    }
  }

  &.outline {
    margin-top: 8px;
    flex-direction: column;
    gap: 8px;

    a {
      background: transparent;
      color: #000;
      border: 1px solid #c0c0db;
    }
  }

  &.horizontal {
    flex-direction: row;
    justify-content: space-between;
    a {
      width: calc(50% - 8px);

      p {
        @include font-params(500, 9px, 11px);

        &:last-child {
          @include font-params(600, 15px, 18px);
          margin-top: 2px;
        }
      }
    }
  }
}

h1,
.h1 {
  --lg-fs: 42px;
  --md-fs: calc(var(--lg-fs) - 8px);
  --sm-fs: 24px;

  --lg-lh: 1.4;
  --md-lh: 1.4;
  --sm-lh: 1.4;

  @include font-params(700, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(700, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(700, var(--sm-fs), var(--sm-lh));
  }
}

h2,
.h2 {
  --lg-fs: 32px;
  --md-fs: calc(var(--lg-fs) - 6px);
  --sm-fs: 22px;

  --lg-lh: 1.45;
  --md-lh: 1.45;
  --sm-lh: 1.45;

  @include font-params(700, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(700, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(700, var(--sm-fs), var(--sm-lh));
  }
}

h3,
.h3 {
  --lg-fs: 22px;
  --md-fs: calc(var(--lg-fs) - 4px);
  --sm-fs: 16px;

  --lg-lh: 1.45;
  --md-lh: 1.45;
  --sm-lh: 1.45;

  @include font-params(600, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(600, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(600, var(--sm-fs), var(--sm-lh));
  }
}

h4,
.h4 {
  --lg-fs: 22px;
  --md-fs: calc(var(--lg-fs) - 4px);
  --sm-fs: 17px;

  --lg-lh: 1.5;
  --md-lh: 1.5;
  --sm-lh: 1.5;

  @include font-params(400, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(400, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(400, var(--sm-fs), var(--sm-lh));
  }

  &.medium {
    font-weight: 400;
  }
}

h5,
.h5 {
  --lg-fs: 18px;
  --md-fs: 18px;
  --sm-fs: 16px;

  --lg-lh: 1.5;
  --md-lh: 1.5;
  --sm-lh: 1.45;

  @include font-params(600, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(600, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(700, var(--sm-fs), var(--sm-lh));
  }
}

h6 {
  --lg-fs: 16px;
  --md-fs: 16px;
  --sm-fs: 16px;

  --lg-lh: 1.55;
  --md-lh: 1.55;
  --sm-lh: 1.55;

  @include font-params(700, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(700, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(600, var(--sm-fs), var(--sm-lh));
  }
}

.text,
.list-text {
  --lg-fs: 16px;
  --md-fs: 16px;
  --sm-fs: 15px;

  --lg-lh: 1.55;
  --md-lh: 1.55;
  --sm-lh: 1.55;

  @include font-params(400, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(400, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(400, var(--sm-fs), var(--sm-lh));
  }
}

.regular-text,
.default-text,
a.regular-text {
  --lg-fs: 14px;
  --md-fs: 14px;
  --sm-fs: 14px;

  --lg-lh: 1.55;
  --md-lh: 1.55;
  --sm-lh: 1.55;

  @include font-params(400, var(--lg-fs), var(--lg-lh));

  @media (max-width: 1440px) {
    @include font-params(400, var(--md-fs), var(--md-lh));
  }

  @media (max-width: 768px) {
    @include font-params(400, var(--sm-fs), var(--sm-lh));
  }

  &.medium {
    font-weight: 500;
  }

  &.bold {
    font-weight: 600;
  }
}

// .default-text {
//   --lg-fs: 16px;
//   --md-fs: 14px;
//   --sm-fs: 12px;

//   --lg-lh: 24x;
//   --md-lh: 20px;
//   --sm-lh: 15px;

//   @include font-params(400, var(--lg-fs), var(--lg-lh));

//   @media (max-width: 1440px) {
//     @include font-params(400, var(--md-fs), var(--md-lh));
//   }

//   @media (max-width: 768px) {
//     @include font-params(400, var(--sm-fs), var(--sm-lh));
//   }
// }

// .list-text {
//   --lg-fs: 20px;
//   --md-fs: 16px;
//   --sm-fs: 16px;

//   --lg-lh: 30px;
//   --md-lh: 20px;
//   --sm-lh: 20px;

//   @include font-params(400, var(--lg-fs), var(--lg-lh));

//   @media (max-width: 1440px) {
//     @include font-params(400, var(--md-fs), var(--md-lh));
//   }

//   @media (max-width: 768px) {
//     @include font-params(400, var(--sm-fs), var(--sm-lh));
//   }
// }

ul {
  @include flex-params(column, flex-start, flex-start);
  gap: 6px;

  li {
    @include flex-params(row, flex-start, flex-start);
    gap: 17px;
    width: 100%;

    textarea {
      width: 100%;
    }

    &::before {
      content: "";
      display: block;
      margin-top: 12px;
      width: 100%;
      max-width: 6px;
      height: 6px;
      background: #000;
      border-radius: 50%;

      @media (max-width: 768px) {
        margin-top: 8px;
      }
    }
  }
}

ol {
  @include flex-params(column, flex-start, flex-start);
  gap: 6px;
  counter-reset: count;

  li {
    @include flex-params(row, flex-start, center);
    gap: 16px;
    counter-increment: count;
    width: 100%;

    textarea {
      width: 100%;
    }

    &::before {
      font-weight: 500;
      content: counter(count);
      min-width: 11px;
    }
  }

  ul {
    padding-left: 24px;
  }
}

.complex-list {
  @include flex-params(column, flex-start, flex-start);
  gap: 8px;
  counter-reset: count;

  li {
    counter-increment: none;

    &::before {
      content: "";
      min-width: auto;
      margin-top: 0;
    }
  }

  > div {
    width: 100%;
  }

  > div > li {
    @include flex-params(row, flex-start, center);
    gap: 16px;
    counter-increment: count;
    width: 100%;

    &::before {
      font-weight: 500;
      content: counter(count);
      min-width: 11px;
    }
  }
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-64 {
  margin-bottom: 64px;

  @media (max-width: 768px) {
    margin-bottom: 32px;
  }
}

.mt-128 {
  margin-top: 128px;

  @media (max-width: 1024px) {
    margin-top: 64px;
  }

  @media (max-width: 768px) {
    margin-top: 32px;
  }
}

.pt-16 {
  padding-top: 16px;
}

.pt-32 {
  padding-top: 40px;
}

.pt-64 {
  padding-top: 64px;

  @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.pb-128 {
  padding-bottom: 128px;

  @media (max-width: 1024px) {
    padding-bottom: 64px;
  }

  @media (max-width: 768px) {
    padding-bottom: 32px;
  }
}

.block {
  @include block-pos;
  padding: 0 15px;
}

.faq-block__button {
  position: relative;
  height: 22px;
  width: 100%;
  max-width: 22px;
  background-color: transparent;
  transform: background-color 0.2s;

  &::after,
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(-50%, -50%);
    transition: all 0.2s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.video__container {
  height: 660px;
  position: relative;

  @media (max-width: 768px) {
    height: 300px;
  }
}

.video-block__container, .video__container {
  height: 660px;
  position: relative;

  @media (max-width: 768px) {
    height: 300px;
  }

  .upload-video__button {
    position: absolute;
    font-weight: 600;
    color: #fff;
    z-index: 10000;
    bottom: 20px;
    right: 20px;
  }
}

.advertising-img {
  display: block;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  height: 200px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

input.error,
textarea.error {
  border-color: #fc978c !important;
}

main {
  min-height: 90vh;
}
